<div class="barrainferior animacion fadeIn">
    <div class="navbar">
        <div class="float-left">
            <i class="fas fa-school"> Escuela Secundaria</i>
        </div>
        <div class="float-right " (click)="hola()">
            <div id="notif">3</div>
            <div class="dropdown">
                <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell mr-4"></i>
                </div>

                <div (click)="hola()" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a (click)="hola()" class="dropdown-item" href="#">Notificacion 1</a>
                    <a class="dropdown-item" href="#">Notificacion 2</a>
                    <a class="dropdown-item" href="#">Notificacion 3</a>
                </div>
            </div>

            <i class="fas fa-user mr-2"></i><span>Ivan Chiabrera [ Admin ]</span>
            <i (click)=unlogin() class="fas fa-sign-out-alt ml-2"></i>
        </div>
    </div>
</div>