<app-barrainferior></app-barrainferior>
<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-2">
            <div class="logo">

                <h2><i class="fas fa-edit"></i>Panel</h2>
            </div>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">



                <li routerLink="/paneladmin"><i class="fas fa-home"></i><span>Inicio</span></li>

                <li (click)=" mostrar2 = !mostrar2 "><i class="fas fa-comment"></i><span>Notificaciones</span><i class="fas fa-angle-down derecha"></i></li>
                <ul>
                    <li routerLink="/paneladmin/enviaraviso" *ngIf="mostrar2" routerLinkActive="activado"><i class="fas fa-comment"></i><span>Enviar notificacion</span></li>
                </ul>

                <li (click)=" mostrar3 = !mostrar3 " routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Evaluaciones</span><i class="fas fa-angle-down derecha"></i></li>
                <ul>
                    <li routerLink="/paneladmin/crearevaluacion" *ngIf="mostrar3" routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Crear Evaluacion</span></li>
                    <li routerLink="/paneladmin/cargarevaluacion" *ngIf="mostrar3" routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Cargar Evaluacion</span></li>
                    <li routerLink="/paneladmin/listadomaterias" *ngIf="mostrar3" routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Listado Evaluaciones</span></li>
                </ul>


            </nav>
        </div>

        <div class="margin-auto col-9 principal">
            <router-outlet></router-outlet>
        </div>


    </div>
</div>