<div id="index1">
    <app-barrainferior></app-barrainferior>
</div>
<div id="index3"></div>
<div class="container-fluid " id="index2">
    <h1 id="menuresponsive" (click)="cambiar()"><i class="fas" [ngClass]="icono"></i></h1>
    <div class="row">
        <div class="animated bounceInLeft barra-lateral col-2 " id="barra-lateral">
            <div class="logo">

                <h2><i class="fas fa-edit"></i>Panel</h2>
            </div>
            <nav class="menu  d-sm-block justify-content-center flex-wrap">



                <li routerLink="/panel/inicio"><i class="fas fa-home"></i><span>Inicio</span></li>

                <li (click)=" mostrar2 = !mostrar2 "><i class="fas fa-comment"></i><span>Notificaciones</span><i class="fas fa-angle-down derecha"></i></li>
                <ul>
                    <li routerLink="/panel/notificaciones" *ngIf="mostrar2" routerLinkActive="activado"><i class="fas fa-comment"></i><span>Listado Notificaciones</span></li>
                </ul>

                <li (click)=" mostrar3 = !mostrar3 " routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Notas</span><i class="fas fa-angle-down derecha"></i></li>

                <ul>
                    <li routerLink="/panel/evaluaciones" *ngIf="mostrar3" routerLinkActive="activado"><i class="fas fa-id-badge"></i><span>Evaluaciones</span></li>
                    <li routerLink="/panel/boletin" *ngIf="mostrar3" routerLinkActive="activado"><i class="fas fa-graduation-cap"></i><span>Boletin</span></li>
                </ul>

            </nav>
        </div>







        <div class="margin-auto principal">
            <router-outlet></router-outlet>
        </div>

    </div>



</div>