<div class="contenedor animacion fadeIn">
    <h1 class="text-center">Nombre materia</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Nota</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>10/10/19</td>
                <td>Suma y resta</td>
                <td>10</td>


            </tr>
        </tbody>
    </table>
</div>