<div class="container-fluid animacion fadeIn">
    <div class="row">
        <main class="main col ">
            <div class="row">
                <div class="columna col">
                    <div class="contenedor">
                        <form>
                            <h1 class="text-center">Listado de años</h1>
                            <div *ngFor="let ano of anios">
                                <hr>
                                <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Año {{ ano.numero }}</li>

                                <ul>
                                    <li *ngFor="let curso of anios.divisiones"><i class="fas fa-caret-right mr-1"></i>{{ curso.nombre }} <i (click)="cargaralumnos(ano)" class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                                </ul>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>



</div>