<div class="container-fluid animacion fadeIn">
    <div class="row">
        <main class="main col ">
            <div class="row">
                <div class="columna col">
                    <div class="contenedor">
                        <form>
                            <h1 class="text-center">Listado de materias</h1>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <li *ngFor="let materia of materias" class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>{{materia.materia.nombre}} </li>

                                </div>
                                <div class="col-2">
                                    <i routerLink="/panel/evaluaciones" class="fas fa-arrow-alt-circle-right ml-5 click position-static"></i>
                                    <i routerLink="/panel/evaluaciones" class="fas fa-arrow-alt-circle-right ml-5 click position-static"></i>
                                    <i routerLink="/panel/evaluaciones" class="fas fa-arrow-alt-circle-right ml-5 click position-static"></i>
                                    <i routerLink="/panel/evaluaciones" class="fas fa-arrow-alt-circle-right ml-5 click position-static"></i>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>



</div>