<div *ngIf="!mostrar1">
    <div class="container-fluid animacion fadeIn contenedor">
        <div class="row">
            <div class="columna col">
                <form>
                    <h1 class="text-center">Listado de materias</h1>
                    <hr>
                    <div *ngFor="let materia of materias" class="row">
                        <div class="">
                            <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i><span>{{ materia.materia.anio.numero }}°</span> <span>{{ materia.division.nombre }} </span> <span>{{ materia.materia.nombre }}</span><i (click)="cargarevaluaciones(materia)" (click)="cambiar1()"
                                    class="fas fa-arrow-alt-circle-right ml-2 click position-static"></i></li>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="animated bounceInRight" *ngIf="!mostrar2">
    <div class="contenedor animacion fadeIn">
        <h1 class="text-center">Evaluaciones</h1>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Fecha</th>
                    <th>Titulo</th>
                    <th>Temas</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="text-center" *ngFor="let evaluacion of evaluaciones">
                    <td>{{ evaluacion.fecha }}</td>
                    <td>{{ evaluacion.titulo }}</td>
                    <td>{{ evaluacion.temas }}</td>
                    <td><i (click)="cargarnotas(evaluacion)" (click)="cambiar2()" class="fas fa-arrow-alt-circle-right click position-static text-center"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="animated bounceInRight" *ngIf="!mostrar3">
    <div class="contenedor animacion fadeIn">
        <h1 class="text-center">Notas</h1>
        <form #evaluaciones="ngForm" (ngSubmit)="cargarnotas(evaluaciones)">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Legajo</th>
                        <th scope="col" class="text-center">Alumno</th>
                        <th scope="col" class="text-center">Nota</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let nota of notas">
                        <td class="text-center">{{ nota.matricula.alumno.legajo }}</td>
                        <td class="text-center"><span>{{nota.matricula.alumno.apellido}}</span><span> {{nota.matricula.alumno.nombre}}</span></td>
                        <td class="text-center">{{ nota.nota }}</td>
                    </tr>
                </tbody>

            </table>

            <div class="text-center">
                <button (click)="volver1()" class="btn btn-lg btn-success m-lg-2">Volver</button>
            </div>
        </form>

    </div>
    <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
</div>