<div class="contenedor animacion fadeIn">
    <h1 class="text-center">Notificacion</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Cuerpo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="text-center">{{ notificacion.fecha }}</td>
                <td class="text-center">{{ notificacion.titulo }}</td>
                <td class="text-center">{{ notificacion.cuerpo }}</td>
            </tr>
        </tbody>
    </table>
</div>