.contenedor {
    background: #E6E6E6;
    border: 4px solid #0275db;
    width: auto;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}

hr {
    border-top: 5px solid black;
    margin: 0;
}

.click {
    cursor: pointer
}

th {
    border: 3px solid black;
}

td {
    border: 3px solid black;
    width: 30px;
}

tr {
    width: 30px;
}