<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="card card-login">
                <div class="card-body">
                    <h5 class="card-title text-center"><i class="fas fa-school mr-3"></i>Sistema Escuela</h5>

                    <form (ngSubmit)="login(formulario)" #formulario="ngForm">
                        <div class="form-label-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                </div>
                                <input class="form-control" type="email" placeholder="Correo Electronico" name="email" ngModel>
                            </div>

                        </div>

                        <div class="form-label-group mt-3">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                </div>
                                <input class="form-control" type="password" placeholder="Contraseña" name="password" ngModel>
                            </div>
                        </div>

                        <div *ngIf="mostrarerror" class="form-label-group mt-3 text-center" id="error">
                            <div class="mb-2">
                                <label>El correo y/o la contraseña son incorrectos.</label>
                            </div>
                        </div>


                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-3" id="ingresar" type="submit">Ingresar</button>
                        <hr class="my-4">
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>