<body>
    <div class="container">
        <div class="row" id="paddinglogin">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">

                    <div class="card-body">
                        <h5 class="card-title text-center"><i class="fas fa-school"></i>Sistema Escuela</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
                                <label for="inputEmail"><i class="fas fa-envelope"></i>Correo Electronico</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                                <label for="inputPassword"><i class="fas fa-key"></i>Contraseña</label>
                            </div>


                            <button [routerLink]="['/paneladmin']" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ingresar</button>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>