<div class="container-fluid animacion fadeIn">
    <div class="row">
        <main class="main col ">
            <div class="row">
                <div class="columna col">
                    <div class="contenedor">
                        <form>
                            <h1 class="text-center">Listado de años</h1>
                            <hr>
                            <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Año 1</li>
                            <ul>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso A <i routerLink="/paneladmin/listadomaterias" class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso B <i class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                            </ul>
                            <hr>
                            <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Año 2</li>
                            <ul>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso A <i class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso B <i class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                            </ul>
                            <hr>

                            <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Año 3</li>
                            <ul>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso A <i class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                                <li><i class="fas fa-caret-right mr-1"></i>Curso B <i class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                            </ul>


                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>



</div>