<div class="container-fluid animacion fadeIn contenedor sombra col-xl-6">
    <div class="row">
        <div class="columna col">

            <form #notificacion="ngForm" (ngSubmit)="enviarnot(notificacion)">
                <h1>Envío de notificación</h1>
                <hr>


                <div class="text-center m-auto">
                    <div>
                        <h5>Año</h5>
                    </div>
                    <div>
                        <select class="custom-select" (change)="getdivisiones($event.target.value)" name="anio" ngModel>
                            <option value="">-</option>
                            <option  *ngFor="let anio of anios" value="{{anio.id}}" >{{ anio.numero }}°</option>                                      
                        </select>
                    </div>
                </div>


                <div class="text-center m-auto">
                    <div class="mt-1">
                        <h5>Divisiones</h5>
                    </div>
                    <div>
                        <select class="custom-select" name="division" ngModel>
                            <option value="">-</option>
                            <option *ngFor="let division of divisiones" value="{{division.id}}" >{{ division.nombre }}°</option>                                      
                        </select>
                    </div>
                </div>


                <div class="text-center m-auto">
                    <div class="mt-1">
                        <h5>Titulo</h5>
                    </div>
                    <div class="text-center">
                        <input class="form-control" name="titulo" ngModel>
                    </div>
                </div>


                <div class="text-center m-auto">
                    <div class="mt-1">
                        <h5>Descripción</h5>
                    </div>
                    <div>
                        <input class="form-control" name="descripcion" ngModel>
                    </div>
                </div>


                <div class="text-center m-auto">
                    <div class="mt-1">
                        <h5>Cuerpo</h5>
                    </div>
                    <div>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="cuerpo" ngModel></textarea>
                    </div>
                </div>


                <button type="submit" class="btn btn-lg btn-success m-lg-2" data-toggle="modal" data-target="#exampleModal">Enviar</button>

            </form>
        </div>
    </div>



</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center bg-success" style="height:50px">
                <h5 class="modal-title mt-2" id="exampleModalLabel">Notificación</h5>
            </div>
            <div class="modal-body text-center">
                <h3>Notificación enviada correctamente</h3>
                <img class="heartBeat" src="../../../../assets/iconos/font/verificado.png" alt="">
            </div>
            <div class="modal-footer text-center">
                <button routerLink="/paneladmin/inicio" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>