<div class="contenedor animacion fadeIn">
    <h1 class="text-center">Boletin</h1>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Materia</th>
                <th *ngIf="trimestre1" scope="col">Trimestre 1</th>
                <th *ngIf="trimestre2" scope="col">Trimestre 2</th>
                <th *ngIf="trimestre3" scope="col">Trimestre 3</th>
                <th *ngIf="mostrarpromedio" scope="col">Promedio</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center" *ngFor="let nota of notamostrar">
                <td>{{ nota.materia }}</td>
                <td *ngIf="trimestre1">{{ nota.nota1 }}</td>
                <td *ngIf="trimestre2">{{ nota.nota2 }}</td>
                <td *ngIf="trimestre3">{{ nota.nota3 }}</td>
                <td *ngIf="mostrarpromedio">{{ nota.promedio | number:'1.0-0' }}</td>

            </tr>

        </tbody>
    </table>
</div>