<div class="contenedor animacion fadeIn sombra" *ngIf="bandera">
    <h1 class="text-center">Cargando<i class="fas fa-sync-alt fa-spin"></i></h1>
</div>

<div class="container-fluid animacion fadeIn contenedor sombra col-xl-3" *ngIf="mostrar1">
    <div class="row">
        <div class="columna col">
            <form>
                <h1 class="text-center">Listado de años</h1>
                <hr>
                <div *ngFor="let ano of anio" class="text-center">
                    <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Año {{ ano.numero }}<i (click)="cargardivisiones(ano)" class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid animated bounceInRight " *ngIf="mostrar2">
    <div class="row contenedor sombra col-xl-3">
        <div class="columna col">
            <form>
                <h1 class="text-center">Listado de divisiones</h1>
                <hr>
                <div *ngFor="let division of divisiones" class="text-center">
                    <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i>Division {{ division.nombre }}<i (click)="cargaralumnos(division)" class="fas fa-arrow-alt-circle-right ml-3 click"></i></li>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center">
        <button (click)="cambiar1()" class="btn btn-lg btn-success m-lg-2">Volver</button>
    </div>
</div>


<div class="container-fluid animated bounceInRight " *ngIf="mostrar3">
    <div class="row contenedor sombra col-xl-5">
        <div class="columna col">
            <form>
                <h1 class="text-center">Alumnos</h1>
                <hr>
                <div *ngFor="let alumno of alumnos" class="row">
                    <div class="">
                        <li class="ml-3"><i class="fas fa-caret-square-right mr-1"></i><span> {{ alumno.alumno.apellido }} </span><span> {{ alumno.alumno.nombre }}</span> <i (click)="cargarmaterias(alumno)" class="fas fa-arrow-alt-circle-right click ml-2"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">
        <button (click)="cambiar2()" class="btn btn-lg btn-success m-lg-2">Volver</button>
    </div>
</div>

<div class=" contenedor animated bounceInRight" *ngIf="mostrar4">

    <table class="">
        <thead>
            <tr class="text-center">
                <th class="text-center" style="max-width:400px">Materia</th>
                <th *ngIf="trimestre1">Trimestre 1</th>
                <th *ngIf="trimestre2">Trimestre 2</th>
                <th *ngIf="trimestre3">Trimestre 3</th>
                <th *ngIf="mostrarpromedio">Promedio</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center" *ngFor="let nota of notamostrar">
                <td class="text-center" style="max-width:400px">{{ nota.materia }}</td>
                <td *ngIf="trimestre1">{{ nota.nota1 }}</td>
                <td *ngIf="trimestre2">{{ nota.nota2 }}</td>
                <td *ngIf="trimestre3">{{ nota.nota3 }}</td>
                <td *ngIf="mostrarpromedio">{{ nota.promedio | number:'1.0-0' }}</td>

            </tr>

        </tbody>
    </table>
    <div class="text-center">
        <button (click)="cambiar3()" class="btn btn-lg btn-success m-lg-2">Volver</button>
    </div>
</div>