<div class="container-fluid animacion fadeIn">
    <div class="row">
        <main class="main col ">
            <div class="row">
                <div class="columna col">
                    <div class="contenedor">
                        <form #evaluacion="ngForm" (ngSubmit)="enviarevaluacion(evaluacion)">
                            <h1>Creación de evaluacion</h1>
                            <hr>
                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Materia</h5></label>
                                <div class="col-8">
                                    <select (change)="capturar($event.target.value)" name="materia" ngModel>
                                        <option value="">-</option>
                                        <option *ngFor="let materia of materiasindice" value="{{materia.id}}" ><span>{{ materia.anio }}</span>°<span>{{ materia.division }} </span> <span>{{ materia.nombremateria }}</span></option>                                      
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Fecha</h5></label>
                                <div class="col-8">
                                    <input class="form-control" type="date" name="fecha" ngModel>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Folio</h5></label>
                                <div class="col-8">
                                    <input value="{{ folio }}" class="form-control" type="number" name="folio" readonly ngModel>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Temas</h5></label>
                                <div class="col-8">
                                    <input class="form-control" type="text" name="temas" ngModel>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Titulo</h5></label>
                                <div class="col-8">
                                    <input class="form-control" type="text" name="titulo" ngModel>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Descripcion</h5></label>
                                <div class="col-8">
                                    <input class="form-control" type="text" name="descripcion" ngModel>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label ml-3"><h5>Cuerpo</h5></label>
                                <div class="col-8">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="cuerpo" ngModel></textarea>
                                </div>
                            </div>




                            <button type="submit" class="btn btn-lg btn-success m-lg-2" data-toggle="modal" data-target="#exampleModal">Crear</button>

                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>



</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notificación</h5>
            </div>
            <div class="modal-body">
                <h3>Evaluación creada correctamente</h3>
            </div>
            <div class="modal-footer text-center">
                <button routerLink="/paneladmin/inicio" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>