<div class="barrainferior animacion fadeIn">
    <div class="navbar">
        <div class="float-left">
            <i class="fas fa-school"> Escuela Secundaria</i>
        </div>
        <div class="float-right ">
            <div id="notif">{{cantidad}}</div>
            <div class="dropdown">
                <div role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell mr-4"></i>
                </div>

                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                    <div (click)="update(noti)" routerLink="/panel/notificacion/{{noti.id}}" *ngFor="let noti of notificaciones" class="dropdown-item">
                        <div>{{noti.fecha}}</div>
                        <div>{{noti.descripcion}}</div>
                    </div>
                </div>
            </div>

            <i class="fas fa-user mr-2"></i><span style="text-transform: uppercase;"> {{usuario}} [ {{rol}} ]</span>
            <i (click)=unlogin() class="fas fa-sign-out-alt ml-2"></i>
        </div>
    </div>
</div>