li {
    text-decoration: none;
    list-style: none;
}

ul {
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}

.contenedor {
    background: #E6E6E6;
    width: auto;
    margin: auto;
    border: 4px solid #0275db;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
}

.contenedor2 {
    background: #E6E6E6;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 35px;
    border: 4px solid #0275db;
}

.click {
    cursor: pointer
}

tr:hover {
    background: #CDCBCB;
}

th {
    border: 3px solid black;
}

td {
    border: 3px solid black;
    padding: 10px;
}

td i:hover {
    color: rgba(46, 45, 45, 0.719) !important;
}

.radioboton {
    border-radius: 30px;
}