.card-login {
    border-radius: 4px;
}

.card-login .card-title {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 50px;
}

.card-login .card-body {
    padding: 30px;
}

form .btn {
    border-radius: 100px;
    padding: 10px;
    letter-spacing: 5px;
}

.form-label-group {
    position: relative;
}

.card {
    margin-top: 100px;
    border-radius: 4px solid #0275db;
}

ul {
    list-style-type: none;
}

#ingresar {
    border: 1px solid black;
}

#error label {
    color: red;
    font-weight: bold;
}

.centro {
    margin: auto;
}